@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 233 0% 95%;
    --foreground: 233 0% 0%;
    --card: 233 0% 90%;
    --card-foreground: 233 0% 10%;
    --popover: 233 0% 95%;
    --popover-foreground: 233 95% 0%;
    --primary: 233 44.6% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 233 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 195 10% 85%;
    --muted-foreground: 233 0% 35%;
    --accent: 195 10% 80%;
    --accent-foreground: 233 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 233 0% 90%;
    --border: 233 20% 50%;
    --input: 233 20% 18%;
    --ring: 233 44.6% 29%;
    --radius: 1rem;
  }
  .dark {
    --background: 233 10% 5%;
    --foreground: 233 0% 90%;
    --card: 233 0% 0%;
    --card-foreground: 233 0% 90%;
    --popover: 233 10% 5%;
    --popover-foreground: 233 0% 90%;
    --primary: 233 44.6% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 233 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 195 10% 15%;
    --muted-foreground: 233 0% 60%;
    --accent: 195 10% 15%;
    --accent-foreground: 233 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 233 0% 90%;
    --border: 233 20% 18%;
    --input: 233 20% 18%;
    --ring: 233 44.6% 29%;
    --radius: 1rem;
  }

  /* Custom scrollbar for WebKit browsers */
  /* Track */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-scrollbar-corner {
    background: #555;
  }

  body {
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    scroll-behavior: smooth;
  }

  .astronaut {
    width: 43px;
    position: absolute;
    right: 20px;
    top: 210px;
    animation: spin 4.5s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
